body{
  background-color:#F4F5F6;}
h1{
  min-height:100px;
  max-height:200px;}
  h1{
    color:black;}
  h1{
    background-color:#DEE2E3;}
  h1{
    text-align:center;}
  h1{
    font-family:"Times New Roman",serif;
    font-size:75px;}
  h1{
    padding:75px;}
